body {
    font-family: Cursive;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, li {
    font-family: 'Montserrat', sans-serif;
}

p, .service-description p, .service-image p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.logo {
    width: 200px;
    height: 50px;
}

header {
    background-color: #171717;
    box-shadow: 0px 0px 20px #000 3;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

header nav {
    position: relative;
}

header nav .navigation-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100px;
}

header nav .navigation-menu li {
    position: relative;
}

header nav .navigation-menu li a {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
}

header nav .navigation-menu li:hover {
    background-color: #212121;
    border-radius: 15px;
}

header nav .navigation-menu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    background-color: #171717;
    box-shadow: 0px 0px 20px #000 3;
    display: none;
    z-index: 1;
}

header nav .navigation-menu li:hover ul {
    display: block;
}

header nav .navigation-menu li a {
    margin-right: 0;
}

header nav .navigation-menu li a svg {
    margin-left: 5px;
    vertical-align: middle;
}

header nav .navigation-menu li ul li {
    margin-bottom: 10px;
}

header nav .navigation-menu li ul li:first-child {
    margin-top: 10px;
}

/* Slogan */
.header-slogan {
    position: relative;
    margin-bottom: 30px;
    margin-top: 0px;
    height:330px;
}

.slogan{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 20px 50px;
    text-transform: uppercase;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    color: white;
}

.header-btn {
    font-family: 'Open Sans', sans-serif;
    background-color: #001C38;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
    width: 15%;
    margin-left: 50px;
    transition: background-color 0.3s;
}


.header-btn:hover{
    background-color: #bd7604;
}


.header-image{
    height: 330px;
    width: 960px;
}

.service-description h2,
.service-left h2 {
    font-size: 35px;
}

.service-left h2 {
    margin-top: -10px;
}

.divider-separator {
    height: 3px;
    background-color: #D28204;
    width: 10%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.service-left,
.service-right {
    width: 50%;
    flex: 1;
}

.service-description-and-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
}

.service-right{
    margin-top: 45px;
}


.service h3,
.service-left h3,
.service-right h3 {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}



.service01 img,
.service02 img,
.service03 img,
.service04 img,
.service-left img,
.service-right img {
    width: 400px;
    margin-top: 20px;
}

.service02 {
    margin-top: 40px;
}



.service04 {
    margin-top: 32px;
}

/* Store */
.service-content {
    position: relative;
    margin-bottom: 30px;
    margin-top: 80px;
    height:330px;
}

.service-right img {
    width: 400px;
    max-height: 300px;
    margin-top: -15px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.service-image-btn{
    width: 100%;
    height: 330px;
    background: center center ;
}

.service-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 15px 40px 40px 40px;
}

.service-tittle{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin: 10px 0;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    background-color: #001C38;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #D28204;
}

/*Events*/
.events {
    display: flex;
    margin-top: 80px;
  }
  
  .event-left {
    flex: 2; 
    padding-right: 20px; 
  }
  
  .event-left img {
    max-width: 100%;
    height: auto;
    width: 100%; 
  }
  
  .event-right {
    flex: 1; 
    padding-left: 20px; 
  }
  
  .event-right h2 {
    font-size: 28px;
    margin-top: 0;
  }
  
  .event-right .divider-separator {
    height: 3px;
    background-color: #D28204;
    width: 20%;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .event-right p {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .events-btn{
    font-family: 'Montserrat', sans-serif;
    background-color: #001C38;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 450px;
    
  }
  .events-btn:hover{
    background-color: #bd7604;
  }

  /* About */
.about {
    display: flex;
    margin-top: 80px;
}

.about-left {
    flex: 1; 
    padding-right: 20px;
}

.about-left h2 {
    font-size: 28px;
    margin-top: 0;
}

.about-left .divider-separator {
    height: 3px;
    background-color: #D28204;
    width: 20%;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.about-left p {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 20px;
}

.about-right {
    flex: 2; 
    padding-left: 20px;
}

.about-right img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.about-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #001C38;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.about-btn:hover {
    background-color: #bd7604;
}

/* Store */

.container-store{
    width: 960px;
    margin: 0 auto;
}

.services-content{
    position: relative;
    margin-bottom: 30px;
    margin-top: 80px;
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.services-content img{
    height: 300px;
}

.services-header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.80);
        background-color: transparent;
        background-image: linear-gradient(90deg, #17202A 44%, #17202A36 100%);
        opacity: 0.99;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
}

.services-header-text{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}


/* Service 1 */ 
.service-1 {
    display: flex;
    margin-top: 40px;
}

.service-1-right {
    flex: 1.2; 
    padding-right: 20px;
    margin-top: 10%;
}

.service-1-right h2 {
    font-size: 28px;
    margin-top: 0;
    text-transform: uppercase;
    padding-right: 50px;
}

.service-1-divider-separator {
    height: 3px;
    background-color: #D28204;
    width: 10%;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}

.service-1-right p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 175px;
    padding-right: 50px;
}

.service-1-left {
    flex: 1; 
    padding-left: 20px;
    text-align: center;
    
}

.service-1-left img {
    margin-top: 5px;
}

/*Service 2*/
.service-2 {
    display: flex;
    
}

.service-2-left {
    flex: 1; /* Ahora ocupa el 65% del ancho */
    padding-right: 20px;
    margin-top: 10%
}

.service-2-left h2 {
    font-size: 28px;
    margin-top: 0;
    text-transform: uppercase;
    padding-left: 50px;
}

.service-2-left .divider-separator {
    height: 3px;
    background-color: #D28204;
    width: 10%;
    display: block;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-top: 15px;
    
}

.service-2-left p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 175px;
    padding-left: 50px;

}
.service-2-right {
    flex: 1.2; 
    padding-left: 20px;
    text-align: center;
}

.service-2-right img {
    margin-top: 5px;
}


/* Service 3 */ 
.service-3 {
    display: flex;
}

.service-3-right {
    flex: 1.2; 
    padding-right: 20px;
    margin-top: 10%;
}

.service-3-right h2 {
    font-size: 28px;
    margin-top: 0;
    text-transform: uppercase;
    padding-right: 50px;
}

.service-3-divider-separator {
    height: 3px;
    background-color: #D28204;
    width: 10%;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}

.service-3-right p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 175px;
    padding-right: 50px;
}

.service-3-left {
    flex: 1; 
    padding-left: 20px;
    text-align: center;
    
}

.service-3-left img {
    margin-top: 5px;
}

/* Service 4 */
.service-4 {
    display: flex;
    
}

.service-4-left {
    flex: 1; /* Ahora ocupa el 65% del ancho */
    padding-right: 20px;
    margin-top: 10%
}

.service-4-left h2 {
    font-size: 28px;
    margin-top: 0;
    text-transform: uppercase;
    padding-left: 50px;
}

.service-4-left .divider-separator {
    height: 3px;
    background-color: #D28204;
    width: 15%;
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 50px;
    
}

.service-4-left p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 175px;
    padding-left: 50px;

}
.service-4-right {
    flex: 1.2; 
    padding-left: 20px;
    text-align: center;
}

.service-4-right img {
    margin-top: 5px;
}


/* Styles for Photo Gallery */
.gallery {
    color: #000;
    padding: 20px;
    text-align: center;
}

.gallery .divider-separator {
    height: 3px;
    background-color: #D28204;
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.gallery h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.gallery .tags {
    text-align: center;
    margin-bottom: 20px;
}

.gallery .tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #001C38;;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.gallery .tag:hover {
    background-color: #bd7604;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

/* Styles for Gallery Sections */
.gallery-section {
    text-align: center;
    margin: 20px;
    display: block;
}

.gallery-section h2 {
    font-size: 24px;
    margin-top: 10px;
}

.gallery-section img {
    margin: 10px;
    border: 2px solid #fff;
}


/* Contact */
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
}

.container-store {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff; 
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {

    display: block;
    font-weight: bold;
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    height: 40px;
}

button {
    background-color: #001C38;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #FFA500;
}

.required {
    color: red;
}

/* About */
.container-about {
    max-width: 960px;
    margin: 0 auto;
}

.text h2 {
    font-size: 24px;
    margin-top: 35px;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 5px;
}

.text ul {
    list-style-type: disc;
    padding-left: 20px;
}

.text li {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 960px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text {
    flex: 1;
    margin-bottom: 20px;
}

.image img{
    margin-right: 20px;
    margin-top: 25%;
}

/*Events*/
h1 {
    font-size: 36px;
}

.event {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.event img {
    max-width: 100%;
    height: auto;
}

.event h2 {
    color: #000000;
    font-size: 24px;
}

.event p {
    font-size: 18px;
    margin-top: 10px;
}

